@import '../../vars.scss';

.alert {
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    color: #ffffff;
    padding: 5px 10px;
    font-size: calc(var(--index) * 0.6);
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}
